body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    background-image: url('../images/bercyfolies_fond_ecran.png');

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
    text-align: center;
}

main {
    position: relative;
    min-height: 100vh;
}

.connection-button {
    position: absolute;
    bottom: 350px;
    right: 900px;
    background-color: rgb(71, 110, 194);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.popup-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
     width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    }

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.popup-content h2 {
    color: black;
}

.popup-content form {
    display: flex;
    flex-direction: column;
}
.form-group {
    display: flex;
    flex-direction: left;
  margin-bottom: 15px;
}
.popup-content label {
      margin-right: 10px;
    color: black;
    text-align: left;
    min-width: 100px;
}


.popup-content input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
    
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
}
.toggle-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.popup-content button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}













/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .connection-button {
        bottom: 10px;
        right: 10px;
        padding: 8px 16px;
        font-size: 14px;
    }

    .popup-content {
        width: 90%;
    }
}
@media (max-width: 480px) {
    .connection-button {
        bottom: 5px;
        right: 5px;
        padding: 6px 12px;
        font-size: 12px;
    }

    .popup-content {
        width: 95%;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .popup-content label {
        margin-bottom: 5px;
        margin-right: 0;
    }
}



  



